<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="navbar navbar-expand-md navbar-dark bg-dark mb-4" role="navigation">
  <a class="navbar-brand" href="#">Employee Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" href="#">Add <span class="sr-only">(current)</span></a>
          </li>
          
          <li class="nav-item">
              <a class="nav-link disabled" href="#">Modify</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Delete</a>
          </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3" *ngFor="let employee of employees">
            <div class="contact-box center-version">
                <a href="#profile.html">
                    <img alt="image" class="img-circle" [src]=employee?.imageUrl>
                    <h3 class="m-b-xs"><strong>{{employee?.name}}</strong></h3>
        
                    <div class="font-bold">{{employee?.jobTitle}}</div>
                    <address class="m-t-md">
                        <strong>{{employee?.email}}</strong><br>
                        <abbr title="Phone">P:</abbr> {{employee?.phone}}
                    </address>
        
                </a>
                <div class="contact-box-footer">
                    <div class="m-t-xs btn-group">
                        <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                        <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                        <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                    </div>
                </div>
        
            </div>
        </div>
    </div>
</div>
