.panel
{
    height: 200px;
    background-image: url("/assets/imagenes/cabecera.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.panel img{
  opacity: 0.2;
}

.hero-text{
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: #3E06B0;
}



.hero-text a:hover {
background-color: #555;
color: white;
}
