<div class="panel panel-default">
  <div class="hero-text">
      <h1 style="font-size:50px"><span class="badge badge-info">Sala de Juegos</span></h1>
      <h3><p><span class="badge badge-info">Alejandro Planes</span></p></h3>
      <a href="https://github.com/413831"target="_blank">en GitHub <i class="fa fa-github"></i></a>
      <a  routerLink="/QuienSoy" >Quien Soy? <i class="fa fa-user"></i></a>
  </div>
  <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/Registro"><span class="glyphicon glyphicon-user"></span>
            <button type="button" name="btnRegistrar" class="btn btn-secondary">Registrarse</button></a></li>
          <li><a  routerLink="/Login"><span class="glyphicon glyphicon-log-in"></span>
            <button type="button" name="btnIngresar" class="btn btn-secondary">Ingresar</button></a></li>
  </ul>
</div>
