.imagenDeMenu{
  width: 80px;
  height: 70px;
  margin: 5px 20px 5px 5px;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #100000;
    padding: 15px 15px 15px 15px;
}


a:hover {
  text-decoration: none;
  color: black;
}

list-group-item:hover{
  background-color: white;
}

.panel
{
    background-image: url("/assets/imagenes/background.png");
    background-color: #1a1a1a;
    background-size: cover;
    width: 100%;
}
