<div class="row">
    <div class="col">
        <h1>*ngIf</h1>
        <hr>
        
        <div *ngIf="mostrar" class="card text-white bg-success m-auto" style="max-width: 18rem;">
            <div class="card-header text-white">
                <h5>{{frase.autor}}</h5>
            </div>
            <div class="card-body text-white">              
                <p class="card-text">{{frase.mensaje}}</p>
            </div>
        </div>

        <button (click)="mostrar = !mostrar" class="btn btn-outline-dark btn-block mt-3">
            Mostrar/Ocultar
        </button>
    </div>
    <div class="col">
        <h1>*ngFor</h1>
        <hr>
        <ul class="list-group">
            <li *ngFor="let personaje of personajes; let i = index" class="list-group-item list-group-item-secondary">
               {{i + 1}} - <b>{{personaje}}</b>
            </li>
          </ul>
    </div>
</div>